[project]
	description = Backport Holo theme from Android 4.2 to 2.1+
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pablo Gonzalez Alonso (pablisco)
[access "refs/for/refs/*"]
	read = group user/Pablo Gonzalez Alonso (pablisco)
	push = group user/Pablo Gonzalez Alonso (pablisco)
	label-Code-Review = -2..+2 group user/Pablo Gonzalez Alonso (pablisco)
	label-Verified = -1..+1 group user/Pablo Gonzalez Alonso (pablisco)
	rebase = group user/Pablo Gonzalez Alonso (pablisco)
	removeReviewer = group user/Pablo Gonzalez Alonso (pablisco)
	submit = group user/Pablo Gonzalez Alonso (pablisco)
[access "refs/heads/*"]
	read = group user/Pablo Gonzalez Alonso (pablisco)
	create = group user/Pablo Gonzalez Alonso (pablisco)
	push = +force group user/Pablo Gonzalez Alonso (pablisco)
	pushMerge = group user/Pablo Gonzalez Alonso (pablisco)
[access "refs/tags/*"]
	push = +force group user/Pablo Gonzalez Alonso (pablisco)
	pushTag = group user/Pablo Gonzalez Alonso (pablisco)
	pushSignedTag = group user/Pablo Gonzalez Alonso (pablisco)
